/* css/global.css
   Base and global styles */

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family-base);
}

body {
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;

  gap: 4rem;

  width: 100%;

  margin-inline: auto;

  padding-inline: 2rem;
  padding-block: 2rem;

  overflow-y: auto;
}

.icon {
  font-size: var(--icon-size-sm);
}