.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding-top: 30px;
}

.skills h2 {
  text-align: center;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-sm);
  margin: 0;
}

.skills .divider {
  width: var(--size-divider-width);
  background-color: var(--color-primary);
  margin: 15px 0;
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1.2rem;

  width: 100%;
  max-width: var(--size-page-max-width);

  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.skill {
  display: flex;
  justify-content: center;
}

.skill > div {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;

  gap: 1rem;

  width: 100%;
  max-width: 380px;

  min-height: 70px;

  padding: 0.75rem 1rem;

  border-radius: var(--radius-md);

  box-shadow: var(--shadow-default);
}

.skill .icon {
  font-size: var(--icon-size-lg);
  color: var(--color-primary);
}

.skill header {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  width: 100%;

  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}

.bar {
  width: 100%;
  height: 8px;

  background-color: #ddd;

  border-radius: var(--radius-sm);

  overflow: hidden;
}

.bar div {
  width: var(--value);
  height: 8px;

  background-color: var(--color-primary);

  border-radius: inherit;
}

@media (max-width: 1199px) {
  .skills ul {
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
  }

  .skill > div {
    max-width: 350px;
  }
}

@media (max-width: 640px) {
  .skills ul {
    grid-template-columns: 1fr;
    max-width: 420px;
  }

  .skill > div {
    max-width: 100%;
  }
}
